.table{
    width: 470px !important;
    color: black;
    
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.container{
    background-color: #f8f4ff87;
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterProduct{
    width: 70%;
    margin-bottom: 5px;
    padding: 5px;
}